div { 
  font-size: 30px;
  background: white;
  color: black;
  /*float: left;*/
  font-weight: bold;
  text-align: center;
  /*box-sizing: border-box;*/
  font-family: 'Droid Sans Mono', monospace;
}