/*Animation*/

div { 
  font-size: 30px;
  background: green;
  color: white;
  /*float: left;*/
  font-weight: bold;
  text-align: center;
  /*box-sizing: border-box;*/
  font-family: 'Droid Sans Mono', monospace;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	background:green;
}

.container {
  height: 100%;
	width: 100px;
}

header::after {
  content: '';
  clear: both;
}

.logo {
  float: center;
  padding: 10px ;
}

/*Animation*/


/*Button Start*/

nav {
  float: center; 
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 170px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: white;

  position: absolute;
  top: auto;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*Button End*/

/*Image Start*/

/*Content for Links Start*/
.video1 {
  position: absolute;
	margin-left:41%;
	margin-bottom: 700px;
  height: 350px;
  width: 350px;
}
.apk{
  margin-left:46%;
  margin-top: 400px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}
.aia{
  margin-left:41%;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}
.writeups{
  margin-left:0%;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}

/*Content for Links End*/

/*Diagram Start*/

.interstoryimage{
  margin-left: 20%
}